
h1{
    color: blue;
}
h2{
    color: blue;
    font-size: 40px;
}
p{
    color: blue;
}

.top-div{
    padding-top: 110px;
    padding-left: 110px;
}

.on-off{
    text-align: center;
    margin-top: 150px;
}

.img-col{
    text-align: center;
}

.project{
    font-size: 60px;
    /* margin-bottom: 0; */
}

.helio{
    font-size: 150px;
    /* margin-top: 10px; */
}

.main-img{
    height: 500px;
    width: 350px;    
}

.dis-adv-row{
    text-align: center;
}

.adv{
    background-color: rgba(58, 58, 58, 0.5);
    width: 280px;
    height: 490px;
    display: inline-block;
    /* margin: 20px;
    margin-right: 50px; */
}

.adv-img{
    height: 280px;
    width: 280px;
}

.adv-desc{
    text-align: justify;
    padding: 20px;
}

.featurealign {
    text-align: center;
    /* padding-top: 30px;
    padding-bottom: 230px; */
    width: 40%;
    margin: auto;
    padding: 30px;
    /* border: 30px; */
}

.feat-img {
    height: 200px;
    width: 175px;
    float: left;
}
.feat-pt {
    color: blue;
    float: right;
    width: 50%;
    /* padding-top: 30px; */
}
.ft-img {
    height: 200px;
    width: 175px;
    float: right;
}
.ft-pt {
    color: blue;
    float: left;
    width: 50%;
    /* text-align: center; */
    /* padding-top: 30px; */
}
.feature{
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 50px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(15, 14, 14, 0.4);
    background-color: rgb(139, 222, 186, 0.2);
    width: 200px;
    display: inline-block;
    border-radius: 8px;
}

.team-img{
    height: 280px;
    width: 280px;
}

.icons{
    padding-bottom: 20px;
    padding-left: 5px;
}

.team-mem-name{
    margin-bottom: 10px;
    margin-left: 12px;
}



